* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    font-family: sans-serif;
}
.header li {
    display: flex;
    font-size: 1.7rem;
    padding-bottom: 10px;
}
.container {
    padding-bottom: 4rem;
    margin-right: -6rem;
    text-align: center;
    align-content: center;
    padding: 0rem;
    width: 90rem;
    background-color: rgb(221, 221, 221);
}
.header .description {
    font-size: 1rem;
    color: grey;
    font-style: italic;
}
.content {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
    background-color: rgb(221, 221, 221);
    padding: 10px;
}
.item a {
    font-size: 1.3rem;
    color: blue;
    text-decoration: none;
    font-weight: normal; 
}
.item {
    border: 1px darkgrey;
    background-color: white;
    background-image: url("cube.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 20px 30px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 1rem;
    color: rgb(87, 84, 84);
}
.item p {
    color: grey;
    font-style: italic;
}
.new li {
    padding-left: 20rem;
}
.item {
    width: 40rem;
    height: 5rem;
}

.item_placement {
    padding-left: 50px;
}

